/* React Frontend */

/* Fixed navbar */
body {
    padding-top: 70px;
}

/* Fix bootstrap */
.help-block {
    margin-bottom: 0;
}

/* Custom classes */
.spaced {
    margin-right: 5px;
}

.wide-spaced {
    margin-right: 20px;
}
